body {
    background: #1c1b26;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 20px;
}
.heart {
    height: 55px;
    transform: translateY(25%);
    user-select: none;
}
header {
    color: #ffafc8;
    font-size: 50px;
    font-family: "Lexend", sans-serif;
    text-align: left;
    margin-bottom: 0;
    user-select: none;
}
.dot {
    color: white;
}
.text {
    font-size: 20px;
}
.flag {
    height: 30px;
    transform: translateY(20%);
}
.lh, .contact {
    font-size: 25px;
}
.dd0, .dd1 {
    color: #ffafc8;
    user-select: none;
}
.slash0, .slash1, .slash2 {
    color: gray;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
.socials a:hover {
    text-decoration: underline;
    color: #ffafc8;
}
.mail {
    color: #ff3ca5;
}
.at {
    color: #ffafc8;
    position: relative;
    top: 2px;
}

